.navbar {
  background-color: #16645F !important; 
   color: white !important;
  }
.navbar-brand {
  background-color: #16645F !important;
  color: white !important;
  }

.nav-link {
  background-color: #16645F !important;
  color: white !important;
  }

.banner {
  background-color: #EEECDE;
  color: black;
}