.navbar {
  background-color: #16645F !important; 
   color: white !important;
  }
.navbar-brand {
  background-color: #16645F !important;
  color: white !important;
  }

.nav-link {
  background-color: #16645F !important;
  color: white !important;
  }

.banner {
  background-color: #EEECDE;
  color: black;
}

.btn-as-link {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: blue; 
  text-decoration: underline; 
}

.btn-as-link:hover,
.btn-as-link:focus {
  text-decoration: none; 
  color: darkblue; 
}

.hidden {
  display: none;
}
