<!DOCTYPE html>
<html>
    <head>
        <title>Radiscool</title>
    </head>

    <body>
        {% extends "layout.html" %}
        {% block content %}
             <div class="banner">
                <img src=static/images/backgroundremoved.png width="120" height="90" alt="Radis cool logo">
                <h4>Bienvenue sur Radiscool! </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua. Odio
                     ut enim blandit volutpat maecenas volutpat blandit aliquam etiam.
                     Cras tincidunt lobortis feugiat vivamus. Phasellus egestas tellus 
                    rutrum tellus pellentesque eu tincidunt. Vel facilisis volutpat est velit
                     egestas dui id ornare. Parturient montes nascetur ridiculus mus 
                    mauris vitae ultricies leo integer. Facilisi etiam dignissim diam quis
                     enim lobortis. Orci ac auctor augue mauris augue neque gravida in 
                    fermentum. Nec feugiat nisl pretium fusce id. Tincidunt tortor aliquam 
                    nulla facilisi cras fermentum odio eu feugiat.</p>
            </div>
{% endblock %}
    </body>
</html>