<html>
  <body>
    {% extends "layout.html" %}
    {% block content %}
    <table border="1px">
      <thead>
          <td><strong>Titre</strong></td>
          <td><strong>Ingrédients</strong></td>
          <td><strong>Etapes</strong></td>
      </thead>

      {% for row in recipes %}

      <tr>
          <td>{{ row["titre"] }}</td>
          <td> {{ row["ingrédients"]}}</td>
          <td>{{ row["étapes"] }}</td>
      </tr>
      {% endfor %}
    </table>
   {% endblock %}
  </body>
</html>