<html>
<body>
  {% extends "layout.html" %}
  {% block content %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <div class="container">
    <h2>Créez votre recette ci-dessous</h2>
    <form id="recipe-form" enctype="multipart/form-data" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Titre de la recette</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Entrez le titre de la recette" required>
        </div>

        <!-- Section des ingrédients -->
        <h3>Ingrédients</h3>
        <ul id="ingredients-list" class="list-group mb-3"></ul>
        <div class="row mb-3">
            <div class="col">
                <input type="text" class="form-control" id="quantity" placeholder="Quantité">
            </div>
            <div class="col">
                <input type="text" class="form-control" id="unit" placeholder="Unité">
            </div>
            <div class="col">
                <input type="text" class="form-control" id="name_ingredient" placeholder="Nom de l'ingrédient">
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary" id="add-ingredient-button">Ajouter un ingrédient</button>
            </div>
        </div>

        <!-- Section description -->
        <div class="mb-3">
            <label for="description" class="form-label">Description de la recette</label>
            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Décrivez les étapes de la recette" required></textarea>
        </div>

        <!-- Section image -->
        <div class="mb-3">
            <label for="recipeImage" class="form-label">Image de la recette</label>
            <input type="file" class="form-control" id="recipeImage" name="recipeImage" accept="image/*" onchange="previewImage();">
            <img id="imagePreview" src="#" alt="Image Preview" style="max-width: 300px; max-height: 300px; display: none;"/>
        </div>
        <button type="submit" class="btn btn-primary">Soumettre la recette</button>
    </form>
  </div>

  <script>
    // Function to display image preview
    function previewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("recipeImage").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("imagePreview").style.display = 'block';
            document.getElementById("imagePreview").src = oFREvent.target.result;
        };
    }

    // Initialize an empty array to store ingredients.
    let ingredients = [];

    // Wait for the DOM to be fully loaded before executing the following.
    $(document).ready(function() {
        // Attach a click event listener to the 'Add Ingredient' button.
        $('#add-ingredient-button').click(function() {
            // Retrieve the values entered by the user for quantity, unit, and ingredient name.
            const quantity = $('#quantity').val();
            const unit = $('#unit').val();
            const name = $('#name_ingredient').val();

            // Add the new ingredient as an object to the ingredients array.
            ingredients.push({quantity, unit, name});

            // Reset the input fields for the next ingredient entry.
            $('#quantity').val('');
            $('#unit').val('');
            $('#name_ingredient').val('');

            // Update the display of ingredients on the webpage.
            displayIngredients();
        });

        // Attach an event listener to the form submission event.
        $('#recipe-form').submit(function(e) {
            // Prevent the default form submission behavior (page reload).
            e.preventDefault();

            const formData = new FormData(this);  // Create a new FormData object and pass the form to it
            formData.append('ingredients', JSON.stringify(ingredients));  // Append ingredients as a JSON string

            // Send an AJAX POST request to the server with the recipe and ingredients data.
            $.ajax({
                url: "{{ url_for('recipes.addrecipe_with_ingredients') }}", // The URL to which the request is sent.
                type: "POST", // The type of request.
                data: formData,
                processData: false,  // Prevent jQuery from converting the FormData into a string
                contentType: false,  // Prevent jQuery from setting the content type (let the browser set it)
                success: function(response) {
                    console.log(response);
                    window.location.href = response.redirect;
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });

    // Define a function to update the ingredients display on the webpage.
    function displayIngredients() {
        // Select the container where the ingredients will be listed.
        const list = $('#ingredients-list');
        // Clear any existing ingredients from the list.
        list.empty();
        // Iterate over each ingredient in the array and add it to the display list.
        ingredients.forEach((ingredient, index) => {
            list.append(`<div>${ingredient.quantity} ${ingredient.unit} ${ingredient.name}</div>`);
        });
    }
  </script>

  {% endblock %}
</body>
</html>
