<!DOCTYPE html>
<html>
<head>
    <title>Modifier la Recette</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    {% extends "layout.html" %}

    {% block content %}
    <div class="container">
        <h2>Modifier la recette: {{ recipe.title }}</h2>
        <!-- Main recipe form for updating the recipe's title and description -->
        <form action="{{ url_for('recipes.edit_recipe_route', id=recipe.id) }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
            <div class="mb-3">
                <label for="title" class="form-label">Titre</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ recipe.title }}" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3" required>{{ recipe.description }}</textarea>
            </div>
            <div class="mb-3">
                <label for="recipeImage" class="form-label">Image de la recette:</label>
                <input type="file" class="form-control" id="recipeImage" name="recipeImage" accept="image/*" onchange="previewImage();">
                <img id="imagePreview" src="{{ recipe.image }}" alt="Image Preview" style="max-width: 300px; max-height: 300px; display: {{ 'none' if not recipe.image else 'block' }};">
            </div>
            <button type="submit" class="btn btn-primary">Modifier la recette</button>
        </form>
        
        <h3>Ingrédients</h3>
        <ul id="ingredients-list">
            {% for recipe_ingredient in ingredients %}
                <li data-ingredient-id="{{ recipe_ingredient.ingredient_id }}">
                    <div class="ingredient-details">
                        <span class="ingredient-quantity">{{ recipe_ingredient.quantity }}</span>
                        <span class="ingredient-unit">{{ recipe_ingredient.unit }}</span>
                        <span class="ingredient-name">{{ recipe_ingredient.ingredient.name_ingredient }}</span>
                        <button type="button" class="btn btn-info btn-sm edit-btn"><i class="fas fa-edit"></i> Modifier</button>
                        <button type="button" class="btn btn-danger btn-sm delete-btn"><i class="fas fa-trash"></i> Supprimer</button>
                    </div>
                    <form class="ingredient-edit-form hidden" data-ingredient-id="{{ recipe_ingredient.ingredient_id }}">
                        <input type="text" name="quantity" placeholder="Quantité" value="{{ recipe_ingredient.quantity }}" required>
                        <input type="text" name="unit" placeholder="Unité" value="{{ recipe_ingredient.unit }}" required>
                        <input type="text" name="name_ingredient" placeholder="Nom" value="{{ recipe_ingredient.ingredient.name_ingredient }}" required>
                        <button type="submit" class="btn btn-success">Enregistrer</button>
                    </form>
                </li>
            {% else %}
                <li>Pas d'ingrédient trouvé</li>
            {% endfor %}
        </ul>
        

          
        
        <!-- Separate form for adding new ingredients -->
        <form id="add-ingredient-form" method="POST">
            <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
            <div class="row mb-3">
                <div class="col">
                    <input type="text" class="form-control" name="quantity" placeholder="Quantité" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="unit" placeholder="Unité" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="name_ingredient" placeholder="Nom de l'ingrédient" required>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-secondary" id="add-ingredient-button">Ajouter un ingrédient</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        $(document).ready(function() {
            const recipeId = $('input[name="recipe_id"]').val(); // Récupérez l'ID de la recette à partir de l'élément caché
        
            // Handle the edit button click to toggle the edit form for each ingredient
            $('.edit-btn').click(function() {
                const ingredientId = $(this).closest('li').data('ingredient-id');
                $(this).closest('li').find('.ingredient-edit-form').toggleClass('hidden');
            });
        
            // Handle the ingredient edit form submission
            $('.ingredient-edit-form').submit(function(e) {
                e.preventDefault(); // Prevent default form submission
        
                const ingredientId = $(this).data('ingredient-id');
                const formData = {
                    quantity: $(this).find('input[name="quantity"]').val(),
                    unit: $(this).find('input[name="unit"]').val()
                };
        
                // Send AJAX request to update ingredient
                $.ajax({
                    url: '/recipes/edit_ingredient/' + recipeId + '/' + ingredientId,
                    type: 'POST',
                    contentType: 'application/json',  // Indiquer le type de contenu JSON
                    data: JSON.stringify(formData),    // Convertir les données en JSON
                    success: function(response) {
                        alert(response.message); // Affiche un message de succès
                        refreshIngredientList(recipeId); // Rafraîchit la liste des ingrédients après la mise à jour
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        
            // Fonction pour supprimer un ingrédient
            $(document).on('click', '.delete-btn', function() {
                const ingredientId = $(this).closest('li').data('ingredient-id');
    
                if (confirm("Voulez-vous vraiment supprimer cet ingrédient ?")) {
                    $.ajax({
                        url: '/recipes/delete_ingredient/' + recipeId + '/' + ingredientId,
                        type: 'POST',
                        success: function(response) {
                            alert(response.message); // Affiche un message de succès
                            refreshIngredientList(recipeId); // Rafraîchit la liste des ingrédients après la suppression
                        },
                        error: function(xhr, status, error) {
                            console.error('Erreur lors de la suppression de l\'ingrédient:', error);
                        }
                    });
                }
            });
    
            // Fonction pour rafraîchir la liste des ingrédients
            function refreshIngredientList(recipeId) {
                $.ajax({
                    url: '/recipes/get_ingredients/' + recipeId,
                    type: 'GET',
                    success: function(ingredients) {
                        // Sélectionne l'élément de la liste des ingrédients dans le DOM
                        const ingredientList = $('#ingredients-list');
                        ingredientList.empty(); // Vide la liste existante
    
                        // Remplit la liste avec les ingrédients actualisés
                        ingredients.forEach(function(ingredient) {
                            const listItem = `
                            <li data-ingredient-id="${ingredient.id}">
                                <span>${ingredient.quantity} ${ingredient.unit} ${ingredient.name}</span>
                                <button type="button" class="btn btn-info edit-btn">Modifier</button>
                                <button type="button" class="btn btn-danger delete-btn">Supprimer</button>
                            </li>
                        `;
                        ingredientList.append(listItem);
                        });
                    },
                    error: function(xhr, status, error) {
                        console.error('Erreur lors du chargement des ingrédients:', error);
                    }
                });
            }
    
            // Handle adding new ingredients
            $('#add-ingredient-button').click(function() {
                const formData = $('#add-ingredient-form').serialize(); // Serialize the add ingredient form
        
                $.ajax({
                    url: '/recipes/add_ingredient/' + recipeId, 
                    type: 'POST',
                    data: formData,
                    success: function(response) {
                        alert(response.message); // Affiche un message de succès
                        refreshIngredientList(recipeId); // Rafraîchit la liste des ingrédients après l'ajout
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        });
        
        // Function to display image preview
        function previewImage() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("recipeImage").files[0]);
        
            oFReader.onload = function (oFREvent) {
                document.getElementById("imagePreview").style.display = 'block';
                document.getElementById("imagePreview").src = oFREvent.target.result;
            };
        }
    </script>
    
        
    
    {% endblock %}
</body>
</html>
