{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>Liste des recettes</h1>
    <a href="{{ url_for('recipes.addrecipe') }}" class="btn btn-primary mb-3">Ajouter une nouvelle recette</a>
    <div class="list-group">
        {% for recipe in recipes %}
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ recipe.title }}</h5>
                <div>
                    <button onclick="location.href='{{ url_for('recipes.view_recipe', id=recipe.id) }}'" class="btn-as-link">Voir</button> |
                    <button onclick="location.href='{{ url_for('recipes.edit_recipe', id=recipe.id) }}'" class="btn-as-link">Modifier</button> |
                    <form action="{{ url_for('recipes.delete_recipe', id=recipe.id) }}" method="post" class="d-inline">
                        <button type="submit" class="btn-as-link" onclick="return confirm('Are you sure?');">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
        <p>Pas de recette trouvée.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}

