{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>{{ recipe.title }}</h1>

    <div class="row mb-4">
        <!-- Image Display on the left -->
        <div class="col-md-6">
            {% if recipe.image %}
            <img src="{{ url_for('static', filename=recipe.image) }}" alt="Image of {{ recipe.title }}" style="max-width: 100%; height: auto;">
            {% else %}
            <p>Aucune image disponible pour cette recette.</p>
            {% endif %}
        </div>

        <!-- Ingredients on the right -->
        <div class="col-md-6">
            <h2>Ingrédients</h2>
            <ul>
            {% if recipe.ingredients and recipe.ingredients|length > 0 %}
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient.quantity }} {{ ingredient.unit }} de {{ ingredient.ingredient.name_ingredient }}</li>
                {% endfor %}
            {% else %}
                <li>Aucun ingrédient trouvé.</li>
            {% endif %}
            </ul>
        </div>
    </div>

    <!-- Description of the recipe below -->
    <div class="row mb-4">
        <div class="col-12">
            <h2>Description</h2>
            <p>{{ recipe.description }}</p>
        </div>
    </div>

    <!-- Buttons -->
    <div class="row">
        <div class="col-12">
            <a href="{{ url_for('recipes.index') }}" class="btn btn-primary">Retour à la liste des recettes</a>
            <a href="{{ url_for('recipes.edit_recipe', id=recipe.id) }}" class="btn btn-secondary">Modifier la recette</a>
        </div>
    </div>
</div>
{% endblock %}
